.button {
    background-color: var(--color-primary);
    width: max-content;
    border: none;
    border-radius: .3rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}